.drop {
    position: absolute;
    display: inline-block;
}

.form button {
    border-radius: 50%;
    background-color: wheat;
    color: blueviolet;
    font-size: large;
    font-style: italic;
    text-align: left;
    display: inline;
}

.content {
    position: absolute;
    display: block;
    background-color: bisque;
    text-align: justify;
}

.content a {
    min-width: 100px;
    text-decoration: underline;
    display: inline-block;
    align-items: center;
}

.content a:hover {
    background-color: aqua;
    min-width: cover;
    border: 20%;

}

#sn {
    color: blueviolet;

    font-size: larger;
    font-style: italic;
    text-align: left;
    text-decoration: line-through;
}

#ne {
    font-size: smaller;
    color: red;
    text-decoration: underline;
    background-color: azure;
    font-style: unset;
}