.form input {
    border-radius: 30%;
    width: fit-content;
    align-items: center;
    text-align: left;
}

/* .form button {
    border: none;
    border-radius: 30%;

} */
/* Định dạng menu */




.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    /*Ô phần chữ*/
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
}

.dropdown-content a {
    /*phần chữ*/
    color: black;
    padding: 12px 16px;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    /*hiển thị các thành phần có trong menu*/
    display: block;
}

.dropdown-content a:hover {
    /*màu nền của các thành phần trong menu*/
    color: aquamarine;
}