html, body {
    height: 100%;
    margin: 0;
}
body{
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}
.flex{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
/* Thiết kế nav */
nav{
    border-bottom: 1px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background:white;
}
nav img{
    width: 100%;
}

nav>ul{
    box-sizing: border-box;
}
nav>ul>li:first-child{
    width: 5%;
}
nav>ul>li{
    width:50%;
}
nav>ul>li:nth-child(3){
    width:15%;
}
nav p {
    font-size: 1.4rem;
    background-color: white;
    color:black;
    padding:5px;
}

nav p:hover{
    transform: scale(1.2);
    box-shadow:0 0 3px rgb(124, 124, 124);
    background-color: #ffffff;
    transition: all .5s;

}
nav>ul>li{
    width: 40%;
    list-style-type: none;
    font-size: 1.1rem;
}
/* Thiết kế main */

main>div#broadcast{
    width:100%;
    margin-top: 25px;
    height: 500px;
    border-radius: 10px;
    
    /* margin: auto; */
    background-color: rgb(213, 240, 250);
    text-align: center;
    /* line-height: 120px; */
}

div.broadcast input{
    top:200px;
}


.custom-button {
    display: inline-block;
    padding: 10px;              /* Khoảng cách bên trong nút */
    background-color: #ffffff;       /* Màu nền xanh lá */
    cursor: pointer;
    color: white;                    /* Màu chữ */
    font-weight: bold;               /* Chữ đậm */
    border-radius: 30px;             /* Bo tròn góc */
    text-align: center;              /* Canh giữa chữ */
    text-decoration: none;           /* Xóa gạch chân mặc định */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transform: rotate(90deg);
    height:20px;
    position: relative;
    top:400px;
}

.custom-button:hover {
    background-color: #f7f7f7;       /* Màu nền khi hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Tăng đổ bóng khi hover */
}
main{
    flex:1;
}
/* Thiết kế footer */
footer{
    height:300px;
    background-color: rgb(255, 208, 155);
    color: rgb(88, 88, 88);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px solid black;
    box-sizing: border-box;
    
}
footer div.content{
    height:90%;
    position: relative;
}
footer div.content ul{
    right:30%;
    position: relative;
}
footer div.content ul>li{
    list-style-type: none;
    font-size: .8rem;
    font-weight: 600;
    padding:5px;
    width:100%;
}

footer .favicon{
    height:50%;
    position: relative;
    box-sizing: border-box;
}
footer div.content div.flex img{
    border-radius: 10px;
}
footer div.content div.flex img:first-child{
    border-radius: 50%;
}
footer div.content div.flex img:hover{
    transform: scale(1.2);
    transition: all .5s;
    box-shadow: 1px 2px 5px black;
}
footer>div:last-child{
    position: relative;
    text-align: center;
    font-size: 1.1rem;
}
