main#danhgia{
    text-align: center;
}
main#danhgia div#f{
    background-color: white;
    padding:10px;
}
main#danhgia input{
    width:50%;
    height:50px;
    border-radius: 999px;
    box-sizing: border-box;
}
main#danhgia input::placeholder{
    position: relative;
    left:10%;
    font-size: 16px;
    color:grey;
    font-weight: 400;
}
main#danhgia input:focus{
    outline: 2px solid wheat;
    border:none;
}
main#danhgia div.thongtin #f1{
    background-color: aliceblue;
    display: flex;
    padding:0;
    margin:0;
}
main#danhgia div.thongtin #f1>ul{
    display: flex;
    padding:0;
    width:35%;
    justify-content: space-between;
    margin:0;
    margin-left:5%;

}
main#danhgia div.thongtin ul>li{
    list-style-type: none;
    font-size: 1.5rem;  
    padding:8px;  
    margin:0;
    border-left:1px solid cadetblue;
    border-right:1px solid cadetblue;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 7%;
    
}
main#danhgia div.thongtin ul>li:hover{
    background-color: rgb(39, 85, 126);
}
main#danhgia div#f3{
    display: flex;
}
/* Content */

main#danhgia div.content{
    
    margin:auto;
    text-align: start;
    margin-top:20px !important;
    position: relative;
    margin-right:100px;
    margin-left:50px;
    flex:.7;
    border-radius:5px;
}
main#danhgia div.content div{
    margin-bottom:20px;
    background-color: blanchedalmond;
    border-radius: 5px;
}

main#danhgia div.content div div:first-child{
    display: flex;
    padding:20px;
    box-sizing: border-box;
}

main#danhgia div.content div:first-child img{
    width:25%;
    padding:5px;
}
main#danhgia div.content div div div {
    display: flex;
    text-align: center;
    align-self: flex-end;
    position: absolute;
    right:0;
}
main#danhgia div.content div  div:first-child h2{
    margin:30px;
}
main#danhgia div.content div div:first-child h2 span{
    font-size: 16px;
}
main#danhgia div.content div div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
main#danhgia div.content div{
    padding:10px;
}
main#danhgia div.content div p>strong{
    font-size: 1.3rem;
}
/* đánh giá */
main#danhgia div#f3 div.danhgia{
    flex:.3;
    margin-top: 20px;
    background-color: beige;
    border-radius: 10px;
    text-align: start;
    padding-left:20px;
}
main#danhgia div#f3 div.danhgia div {
    margin-bottom:50px;
}
main#danhgia div#f3 div.danhgia div img{
    width:25%;
    padding-right:10px;
    border-radius: 50%;   
    border: none;
}
/*Thiết kế phần đăng ký và đăng nhập*/

