.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Đặt chiều cao của container là 100% chiều cao của viewport */
}

.form {
    text-align: center;

}

.form input {
    margin: 5px;

}

.form button {
    padding: 10px 20px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    /*viền*/
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;

}

.object {
    position: absolute;
    top: 48vh;
    /*giá trị âm là lên trên dương là đi xuống theo trục y*/
    left: 18vw;
    width: 50px;
    height: 50px;
    background-image: url('file:///C:/Users/ADMIN/Pictures/Screenshots/Screenshot%202024-05-10%20102859.png');
    background-size: cover;
    background-position: center;
    border: none;

    border-radius: 25%;

}

.object_02 {
    width: 50px;
    height: 50px;
    background-color: blueviolet;

    border-radius: 75%;

}

.alertMsg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

#zoomableElement {
    /*Trạng thái ban đầu của nó*/
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
}

:root {
    --moved: false;
}

#dichchuyenElement {
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
    position: absolute;
    top: 50vh;
    left: 50vw;
}

#dichchuyenElement.moved {
    top: 80vh;
    left: 80vw;
}