.body,
html {
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
}

.form {
    margin-top: auto;
    margin-bottom: auto;

}

.form button {
    width: 100px;
    height: 50px;
    border-radius: 25%;
    border: none;
    background-image: url('file:///D:/Data_quantrong/Photo/280314724_1219428628804564_7755428345570566979_n.jpg');
    background-size: cover;
    color: rgb(225, 225, 70);
}

.form label {
    border-radius: 25%;
}

.form input {
    border-radius: 20%;
    width: 8vw;
}

.object {
    width: 50px;
    height: 50px;
    top: 150px;
    left: 0px;
    position: relative;
    background-image: url('file:///D:/Data_quantrong/U_School/z4967605037307_9884e31ce58e46e231215dcd7485feeb.jpg');
    background-size: cover;

    animation: alternate;
    /* thời gian cho một chu kì */
    animation-duration: 5s;
    /* gọi keyframes mà mình đã tạo */
    animation-name: teleport;
    /* SỐ lần chu kì được thực hiện (vô tận)*/
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
    left: 0px;
}


#movement {
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border: none;

    position: relative;
    animation: alternate;
    /* thời gian cho một chu kì */
    animation-duration: 3s;
    /* gọi keyframes mà mình đã tạo */
    animation-name: move_right;
    /* SỐ lần chu kì được thực hiện (vô tận)*/
    animation-iteration-count: infinite;
    left: 0px;
}

@keyframes move_right {
    0% {
        left: 0px;
    }

    50% {
        top: -50px;
        background-color: aqua;
        ;
    }

    100% {
        left: 500px;
    }
}

@keyframes teleport {
    0% {
        top: 150px;
        left: 0px;
    }

    100% {
        width: 300px;
        height: 300px;
        top: 150px;
        border-radius: 5ch;
        left: 580px;

    }

}