.test {
    font-size: 60px;
    max-block-size: none;

}

.body,
html {
    background-color: blueviolet;
    text-align: center;
}

#cat {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 0;
    border: 3px solid coral;

}

#input {
    background-color: rgb(39, 3, 73);
    color: whitesmoke;

}

#bt {
    color: darkcyan;
    block-size: 50px;
    border-radius: 50%;

}

label {
    font-family: 'Times New Roman', Times, serif;
    block-size: 30;
    border: 3px solid yellowgreen;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: antiquewhite;
    text-shadow: 5ch;
}